*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    overflow: hidden;
}
.wrapper{
    width: 90%;
    height: 90%;
    position: relative;
    /* transform: rotateX(40deg) rotateY(30deg); */
    /* transform-style: preserve-3d; */
}
.button-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.button-box button{
    padding: 5px 10px;
    font-size: larger;
    background-color: white;
    border: none;
    color: black;
}
.block{
    position: absolute;
    aspect-ratio: 1 / 1;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease;
    /* border: 1px solid red; */
    box-shadow:  0px 0px 28px 6px rgba(34, 60, 80, 0.4);
}
.circle{
    border-radius: 50%;
}